@import url('https://fonts.googleapis.com/css?family=Kranky|Lato');


/* Base Styles ***/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #ccf7ff;/*#edeff0;*/
	color: #576366;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
.name a,
.main-nav a,
.main-footer a {
	color: #384047;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1.1rem;
}

img {
	max-width: 100%;
}

/* Flexbox ***/

.main-header {
	display: flex;
}

.main-header {
	flex-direction: column;
}


/* Header ***/

.main-header {
	font-family: 'Kranky', 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	/*background: #fff;*/
	width: 100%;
	max-width: 100%;
	text-align: center;
	padding: 1em 1em 0 1em;
	margin-bottom: 20px; /* to push down banner content */
}

.name {
	margin-top: 0;
}

.main-nav li {
	border-bottom: 1px solid #edeff0;
	background: #fff;
	margin-bottom: 10px;
}

.main-nav a {
	display: block;
	padding: 10px 15px;
}

.main-nav a:hover,
.main-nav a:active {
	background: #edeff0;
	font-weight: bold;
}

/* Layout containers ***/

.banner,
.portfolio,
.skills,
.contact {
	padding-left: 1em;
	padding-right: 1em;
}

.banner,
.portfolio,
.skills,
.contact {
	text-align: center;
}

main {
	/*background: #fff;*/
}

.portfolio,
.skills {
	/*background: #fff;*/
}


.banner {
	background: #fff;
	padding: 20px;
}

.portfolio {
	border-bottom: 1px solid #edeff0;
}

.portfolio,
.skills {
	/*text-align: center;*/
	padding-top: 20px;
}

.skills {
	padding-bottom: 20px;
}

.contact {
	/*background: #fff;*/
	border-bottom: 1px solid #fff;
}

.main-footer {
	background: #fff;
}

/* Banner ***/

.profile-image {
	width: 60%;
	/*padding: 5px;
	border: 1px solid #576366;*/
	box-shadow: 1px 1px 4px #576366;
}

/* Portfolio ***/ 

.portfolio > h2 {
	padding-top: 20px;
	padding-bottom: 40px;
}

.card > h3 {
	margin-top: 25px;
}


.card {
	padding-bottom: 30px;
}

/* Skills ***/

.skills-list ul {
	/*background: #fff;*/
}

.skills ul li {
	border-bottom: 1px solid #fff;
	background: #fff;
	padding: .4em;
	margin-top: 5px;

}

/* Contact ***/

.contact > h2 {
	margin-top: 30px;
}

.contact-list li {
	padding-bottom: 20px;
}

/* Footer ***/

.footer-list {
	display: flex;
	justify-content: space-between;
}

.footer-list li:first-child {
	margin-left: 1em;
}

.footer-list li:last-child {
	margin-right: 1em;
}

.main-footer a {
	font-family: 'Kranky';
}