@import url('https://fonts.googleapis.com/css?family=Kranky|Lato');


/* Base Styles ***/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #c4f9fc; /*#ccf7ff;*/
	color: #576366;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
.name a,
.main-nav a,
.main-footer a {
	/*color: #384047;*/
	color: #082d77;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1.1rem;
}


img {
	max-width: 100%;
}

/* Flexbox ***/

.main-header {
	display: flex;
}

.main-header {
	flex-direction: column;
}


/* Header ***/

.main-header {
	font-family: 'Kranky', 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	/*background: #fff;*/
	width: 100%;
	max-width: 100%;
	text-align: center;
	padding: 1em 1em 0 1em;
	margin-bottom: 20px; /* to push down banner content */
}

.name {
	margin-top: 0;
}


.main-nav li {
	background: #fff;
	margin-bottom: 10px;
}

.main-nav a {
	display: block;
	padding: 10px 15px;
}

.main-nav a:hover,
.main-nav a:active {
	background: #82e8ff;
	font-weight: bold;
}

/* Layout containers ***/

.banner,
.portfolio,
.skills,
.contact {
	padding-left: 1em;
	padding-right: 1em;
}

.banner,
.portfolio,
.skills,
.contact {
	text-align: center;
}




.banner {
	background: #fff;
	padding: 20px;
}

.portfolio {
	border-bottom: 1px solid #edeff0;
}

.portfolio,
.skills {
	padding-top: 20px;
}

.skills {
	padding-bottom: 20px;
}

.contact {
	border-bottom: 1px solid #fff;
}

.main-footer {
	background: #fff;
}

/* Banner ***/

.profile-image {
	width: 60%;
	box-shadow: 1px 1px 4px #576366;
}

/* Portfolio ***/ 

.portfolio > h2 {
	padding-top: 20px;
	padding-bottom: 40px;
}

.card > h3 {
	margin-top: 25px;
}


.card {
	padding-bottom: 30px;
}

/* Skills ***/


.skills ul li {
	border-bottom: 1px solid #fff;
	background: #fff;
	padding: .4em;
	margin-top: 5px;

}

/* Contact ***/

.contact > h2 {
	margin-top: 30px;
}

.contact-list li {
	padding-bottom: 20px;
}

/* Footer ***/

.footer-list {
	display: flex;
	justify-content: space-between;
}

.footer-list li:first-child {
	margin-left: 1em;
}

.footer-list li:last-child {
	margin-right: 1em;
}

.main-footer a {
	font-family: 'Kranky';
}

/* Media Queries ***/

@media (min-width: 768px) {


	.main-header,
	main,
	.banner-wrap {
		width: 90%;
		margin: 0 auto;
	}

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		padding-top: 2em;
		flex-direction: column;
	}

	.main-nav {
		justify-content: space-around;
	}


	.name {
		margin-bottom: 2em;
	}

	.banner {
		margin-top: 1em;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.row {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card {
		flex: 1 40%;
	}
}